@import "../abstract/variables";

body {
    &.bg-gradient-blue {
        background-attachment: fixed;
    }
}

.bg-gradient-blue {
    background: $background-gradient-blue;
    background: $moz-background-gradient-blue;
    background: $webkit-background-gradient-blue;
    background: $o-background-gradient-blue;
    background: $ms-background-gradient-blue;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
