// Colors
$background-gradient-blue: linear-gradient(to right, rgb(12, 38, 70) 0%, rgb(32, 64, 101) 60%, rgb(42, 87, 136) 100%);
$moz-background-gradient-blue: -moz-linear-gradient(to right, rgb(12, 38, 70) 0%, rgb(32, 64, 101) 60%, rgb(42, 87, 136) 100%);
$webkit_background-gradient-blue: -webkit-linear-gradient(to right, rgb(12, 38, 70) 0%, rgb(32, 64, 101) 60%, rgb(42, 87, 136) 100%);
$o-background-gradient-blue: -o-linear-gradient(to right, rgb(12, 38, 70) 0%, rgb(32, 64, 101) 60%, rgb(42, 87, 136) 100%);
$ms-background-gradient-blue: -ms-linear-gradient(to right, rgb(12, 38, 70) 0%, rgb(32, 64, 101) 60%, rgb(42, 87, 136) 100%);
